<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8" />
    <title><%= "#{APP_NAME} | #{APP_DESC}" %></title>
    <link href='http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/global.css" type="text/css" />
  </head>
  <body>
    <div class="app-container">
      <header class="app-header">
      <h1 class="brand">
        <a href="/" title="<%= "#{APP_NAME}" %>" alt="<%= "#{APP_NAME}" %>">
          <%= "#{APP_NAME}" %>
        </a>
      </h1>
      </header>
      <div class="app-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
